body{
    background-color: #bee5eb;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.container {
    background-color: #80bdff;
    width: 80%;
    margin: 0px auto;
}

header {
    height: 100px;
    margin: 35px;
}

h1 {
    text-align: center;
}

#kep {
    float: left;
    margin-right: 40px;
}

footer{
    text-align: center;
}
.PizzaKep {
    height:auto;
    max-height: 80px;
    width: auto;
    max-width: 120px;
}